html {
  font-family: Lato;
  font-size: 10px;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

.AppMain {
  flex: 1 1 auto;
  order: 2;
}

.AppAside {
  order: 3;
  flex: 1 1 auto;
}

@media (min-width: 1024px) {
  body {
    flex-flow: row wrap;
  }

  .AppAside {
    order: 2;
    flex: 0 0 auto;
  }

  .AppMain {
    order: 3;
  }
}
